<!-- <h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p> -->

<% @post.each do |x| %>
	<div class="white">
		<%= image_tag x.image.url(:medium) %>
		<br>
		<%= x.description %>
		<%= link_to "Delete", '/posts/' + x.id.to_s, method: :delete %>
	</div>
<% end %>	